.not_found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(40, 44, 52);
    font-weight: bold;
    font-size: 20px;
    background-image: url('../images/linen-background.jpg');

}
 
.app {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../images/linen-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}