.table_wrapper {
    margin: 40px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
}

table {
    min-width: 90%;
    border-collapse: collapse;
    border: 1px solid rgb(180, 94, 14);
    background-color: rgb(253, 249, 243);
    margin-top:10px;
    margin-bottom: 70px;
}

td {
    border-top: 1px solid rgb(179, 114, 9);
}

th,td {
    padding:5px;
    text-align: center;
}

.btn-update {
    color: rgb(65, 50, 50);
    height: 30px;
    background-color: rgb(250, 185, 100);
    border: 1px solid rgb(202, 99, 51);
    border-radius: 5px;
}
